name: Typechecker

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install Poetry
        run: pipx install poetry

      - name: Install dependencies
        run: poetry install --with dev --no-root

      - name: mypy
        run: poetry run mypy src
